---
version: "3.8"

services:

  frontend:
    image: "${DOCKER_REGISTRY_HOSTNAME}/meta-forest/web-app/frontend/none:latest"
    pull_policy: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.meta-forest-web-app-frontend.rule=Host(`web-app.meta-forest.stage.dev.metafora.dev`)"
      - "traefik.http.services.meta-forest-web-app-frontend.loadbalancer.server.port=3000"
      - "traefik.http.routers.meta-forest-web-app-frontend.entrypoints=web"
      - "traefik.http.routers.meta-forest-web-app-frontend.service=meta-forest-web-app-frontend"
    deploy:
      replicas: 1
      restart_policy:
        condition: any
      resources:
        limits:
          memory: 512M
          cpus: '0.50'
        reservations:
          cpus: '0.25'
          memory: 256M
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.meta-forest-web-app-frontend.rule=Host(`web-app.meta-forest.stage.dev.metafora.dev`)"
        - "traefik.http.services.meta-forest-web-app-frontend.loadbalancer.server.port=3000"
        - "traefik.http.routers.meta-forest-web-app-frontend.entrypoints=web"
        - "traefik.http.routers.meta-forest-web-app-frontend.service=meta-forest-web-app-frontend"
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    networks:
      meta-forest:
        aliases:
          - meta-forest-web-app-frontend
      meta-forest-web-app:
        aliases:
          - meta-forest-web-app-frontend
      meta-forest_ext:
        aliases:
          - meta-forest-web-app-frontend

networks:

  meta-forest:
    external: true
    name: meta-forest

  meta-forest-web-app:
    external: true
    name: meta-forest-web-app

  meta-forest_ext:
    external: true
    name: meta-forest_ext
...
