@import url("../public/fonts/roboto/roboto.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .green-gradient{
        background: linear-gradient(90deg, #65D7CC 0%, #60FDCF 49.03%);
    }
    .grey-gradient{
        background: linear-gradient(90deg, #FFFFFF 0%, #D0D2DE 100%);
    }
    .bunny-generation-outside{
        position: relative;
        background: #ECEDF2;
        clip-path: circle(180px at 50% 41%);
    }
    .bunny-generation-inside{
        clip-path: circle(170px at 50% 41%);
        background: white;
    }
    .rangebar>input[type=range]  {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        overflow: hidden;
    }

    .rangebar>input[type=range]::-webkit-slider-runnable-track {
        background-color: #C7C7CC;
    }

    .rangebar>input[type=range]::-webkit-slider-thumb {
        background: transparent;
        cursor: pointer;
        width:15px;
        height: 15px;
        -webkit-appearance: none;
        margin-top: -4px;
        box-shadow: -200px  0 0 200px  #43e5f7;

    }

    .rangebar>input[type=range]::-moz-range-track {
        background-color: blue;
    }


    .rangebar>input[type=range]::-moz-range-thumb {
        background: #ecf0f1;
        cursor: pointer;
        border-radius:0px;
        box-shadow: -200px  0px 0px 200px   #43e5f7;
        padding: 0px;
        margin: 0px;
    }
    .visible-false{
        transform: translateY(100%);
    }
    .visible-true{
        transform: translateY(0%);
    }

    .visible-transition{
        transition: 1s;
    }



    /*Characteristics Gradients*/


    .str-gradient{
        background: linear-gradient(90deg, #C74A54 0%, #FF3F4E 100%);
    }

    .dex-gradient{
        background: linear-gradient(90deg, #A34EDF 0%, #EE87FF 100%);
    }
    .vit-gradient{
        background: linear-gradient(90deg, #5F61FF 0%, #49B3FF 100%);
    }
    .int-gradient{
        background: linear-gradient(90deg, #5FD9FF 0%, #7CFFF7 100%);
    }
    .krm-gradient{
        background: linear-gradient(90deg, #65D6CB 0%, #5FFFCF 100%);
    }
    .deactive-gradient{
        background-color: #E1EAFF;
    }



/*.bg-common {background-color: #B8B8B8}*/
/*.bg-uncommon {background-color: #9BCA15}*/
/*.bg-epic {background-color: #9600FF}*/
/*.bg-legendary {background-color: #FF8F00}*/
/*.bg-common-weak {background-color: #E1E1E3}*/
/*.bg-uncommon-weak {background-color: #CFDEAC}*/
/*.bg-epic-weak {background-color: #C89BEE}*/
/*.bg-legendary-weak {background-color: #F1D0A9}*/













}