@import url("../public/fonts/roboto/roboto.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .green-gradient{
        background: linear-gradient(99.47deg, #64D2CC 5.22%, #7DD9A3 94.77%);
    }
    .grey-gradient{
        background: linear-gradient(90deg, #FFFFFF 0%, #D0D2DE 100%);
    }
    .bunny-generation-outside{
        position: relative;
        background: #ECEDF2;
        clip-path: circle(200px at 50% 41%);
    }
    .bunny-generation-inside{
        clip-path: circle(190px at 50% 41%);
        background: white;
    }
}